/* Introdução */

.introducao-interna.interna-portfolio {
  background: url(../img/portfolio-bg.jpg) no-repeat center;
  background-size: cover;
}

.introducao-interna.interna-portfolio h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Blockquotes */
.blockquote-bg {
  background: #1e1e1e;
}

.quote-clientes {
  max-width: 550px;
  padding: 50px 0 70px 0;
  margin: 0 auto;
}

.quote-clientes p {
  font-size: 18px;
  line-height: 25px;
  color: #f2ead6;
  text-align: center;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.quote-clientes cite {
  font-size: 18px;
  line-height: 25px;
  color: #f2ead6;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  float: right;
}

/* Portfólio */
.portfolio-bg {
  background: #f2ead6;
  padding: 40px 0px 60px 0px;
}

/*Plugin de Slide*/

.rslides, .rslides-portfolio {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li, .rslides-portfolio li{
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child, .rslides-portfolio li:first-child{
	position: relative;
	display: block;
	float: left;
}

.rslides img, .rslides-portfolio img{
	display: block;
	height: auto;
	width: 100%;
	border: 0;
}

.rslides_tabs {
  text-align: center;
}

.rslides_tabs li{
  display: inline-block;
  margin: 15px 5px 0px 5px;
}

.rslides_tabs li a {
 display: inline-block;
 color: #1e1e1e;
 background: #1e1e1e;
 width: 12px;
 height: 12px;
 border-radius: 12px;
 overflow: hidden;
 text-indent: -200px;
}

.rslides_tabs li.rslides_here a, .rslides_tabs li a:hover {
  display: inline-block;
  color: #d54730;
  background: #d54730;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  overflow: hidden;
  text-indent: -200px;
 }